

<form action="/profile/edit/<%= projectInfo.id %>?_method=PUT" method="POSt">
  <label>Project Name</label>
  <input type="text" name="ProjectName" id="<%= projectInfo.name %>">
  <input type="submit" value="Go!">
</form>