
<div class="general">
  <p>
    <form class="general" action="/profile/edit/<%= projectInfo.id %>?_method=PUT" method="POST">
      <p class="bigTextHeader" > Old Name: <%= projectInfo.name %> </p>
      <label class="bigText" >New Project Name: </label>
      </p>
      <p>
        <input type="text" name="projectName" id="<%= projectInfo.name %>">
      </p>
      
    <p>
      <button type="submit" class="btn btn-success btn-xs" >GO!</button>
    </p>
  </form>
</div>
