
<div class="general">
  <h1 class="bigText">
    Get a prompt and starting writing!
  </h1>
  
  
  <p class="bigText">Choose a Prompt Type to Begin a New Project</p>
  <form action="/project/new" method="GET">
    <select  class="littleText" name="promptType" id="promptType">
      <option  class="littleText" value=" ">--Choose from an option below</option>
      <option  class="littleText" value="adj+noun">Character </option>
      <option  class="littleText" value="verb+adj">Situation</option>
      <option  class="littleText"value="adj+noun+verb+adj">Both</option>  
    </select>
    <input  class="littleText" type="submit" value="Create Project">
  </form>
</div>  
