
<h1>
  Get a prompt and starting writing!
</h1>


<p>Choose a Prompt Type to Begin a New Project</p>
<form action="/project/new" method="GET">
  <select name="promptType" id="promptType">
    <option value=" ">--Choose from an option below</option>
    <option value="adj+noun">Character </option>
    <option value="verb+adj">Situation</option>
    <option value="adj+noun+verb+adj">Both</option>  
  </select>
  <input type="submit" value="Create Project">
</form>


