

<div class="general" class="test">
  <h2 class="bigText" >Prompt:</h2>
  <h3 class="littleText"> <%= prompt.english %></h3>
  
  <form action="/project/new" method="POST">
    <input type="hidden" name="prompt" value="<%= prompt.english %>">
    <p class="bigText"> Project Name </p>
    <input type="text" name="projectName" id="projectName">
    <hr>
    <div>
      <p class="bigText"> Start Writing!: </p>
      <textarea name="textField" id="textField" cols="80" rows="10"></textarea>
      <p> <input type="submit" value="Save Project"> </p>
  
    </div>
  </form>
</div>

