

<h2>Prompt:</h2>
<h3> <%= prompt.english %></h3>

<form action="/project/new" method="POST">
  <input type="hidden" name="prompt" value="<%= prompt.english %>">
  <p> Project Name </p>
  <input type="text" name="projectName" id="projectName">
  <hr>
  <div>
    <p> Start Writing!: </p>
    <textarea name="textField" id="textField" cols="80" rows="10"></textarea>
    <p> <input type="submit" value="Save Project"> </p>

  </div>
</form>

