<h2> All Your Projects: </h2>


  <ul>
      <% project.forEach(function(projectInfo){ %>
        <li> <h3> <a href="/project/ <%= projectInfo.id %>"> <%= projectInfo.name %> </a> </h3>  </li>
        <a href="/profile/edit/<%= projectInfo.id %>">Edit</a>
        <form method="POST" action="/profile/<%= projectInfo.id %>?_method=DELETE">
          <button type="submit" class="btn btn-danger btn-xs">Delete</button>
        </form>
      <% }) %>

  </ul>

