
<div class="general"> 
  <h2 class="bigTextHeader"> All Your Projects: </h2>
  
  
    <ul>
        <% project.forEach(function(projectInfo){ %>
          <li id="lineItem" class="bigText">  <a href="/project/ <%= projectInfo.id %>"> <%= projectInfo.name %> </a> </li>
          <span>
              <a class="link" href="/profile/edit/<%= projectInfo.id %>"> Edit</a>
              <form class="inline" method="POST" action="/profile/<%= projectInfo.id %>?_method=DELETE">
                <button type="submit" class="btn btn-link btn-sm">Delete</button>
              </form>
            </span>
        <% }) %>
    </ul>

</div>

