<h3> All Your Projects: </h3>
<!-- 
//create project page which will hold all the users project names
//include if/else statment => if user (req.user.id) is truthy show their project names, if user is falsey link them to /project/new 

-->


  <ul>
      <% project.forEach(function(projectInfo){ %>
        <li> <%= projectInfo.name %> </li>
        <a href="/profile/edit/<%= projectInfo.id %>">Edit</a>
        <form method="POST" action="/profile/<%= projectInfo.id %>?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
      <% }) %>

  </ul>

