
<h2>
  <p> Project name: </p>
  <%= project.name %> 
</h2>

<h2>
  <p> Prompt name: </p>
  <%= project.prompt.text %> 
</h2>

<hr>

<h2>
  <p>  Entry info: </p>
  
  <% project.entries.forEach(function(entry){ %>
    <%= entry.text %>
  <% }) %>
</h2>



