
<div class="general">
  <h2 class="littleText" >
    <p class="bigText"> Project name: </p>
    <%= project.name %> 
  </h2>
  
  <h2 class="littleText">
    <p class="bigText" > Prompt name: </p>
    <%= project.prompt.text %> 
  </h2>
  
  <hr>
  
  <h2 class="littleText">
    <p class="bigText">  Entry info: </p>
    
    <% project.entries.forEach(function(entry){ %>
      <%= entry.text %>
    <% }) %>
  </h2>
</div>




