body {
  background-color: rgb(230,221,222);
}
.general {
  text-align: center;
}

.inline {
  display: inline-block;
}

.bigTextHeader{
  font-family: 'Gentium Basic', serif;
  font-size: 3em;
}
.bigText {
  font-family: 'Gentium Basic', serif;
  font-size: 2em;
}

.littleText {
  font-family: 'Playfair Display', serif;
}

#lineItem {
  list-style-type: none;
  font-size: 3em;
  
}

